[Unit]
Description=JioTV Daemon Service
After=network.target

[Service]
ExecStart=%h/.local/bin/jiotv serve --host=0.0.0.0
Restart=on-failure
WorkingDirectory=%h
Environment=HOME=%h

[Install]
WantedBy=default.target
